body{
    height: 100%;
}

nav {
    background-color: transparent !important;
    box-shadow: none;
}   

.brand-logo img {
    width: 60px;
    height: auto;
    margin-top: 25%;
    /*margin-left: 15%;*/
}

#index-banner {
    background-image: url("../public/home-background.jpg");
    background-size: cover;
    background-position: center;
    height: 130vh;
    margin-top: 4%;
}

.about{
    height: 100vh;
    margin-top: 15%;
}
footer.page-footer{
    margin-top: 0px;
}